[user]
	name = vyashole
	email = adwait@socialcops.com
	signingkey = 3302DD51904FC7E8
[gc]
	autoDetach = false
[pull]
	rebase = true
[commit]
	gpgsign = true
[gpg]
	program = gpg2
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
